aniso8601==3.0.0
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
bcrypt==3.1.4
cffi==1.11.5
cryptography==2.3.1
dj-database-url==0.5.0
Django==2.0.8
django-dotenv==1.4.2
django-filter==1.1.0
django-ipware==2.1.0
django-sslserver==0.20
graphene==2.1.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.8.1
idna==2.6
iso8601==0.1.12
itsdangerous==0.24
more-itertools==4.2.0
pluggy==0.6.0
promise==2.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
py==1.5.3
pycparser==2.18
PyJWT==1.6.4
python-http-client==3.1.0
pytz==2018.4
Rx==1.6.1
sendgrid==3.6.5
sendgrid-django==4.2.0
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
